<!DOCTYPE html>
<html lang="pt-BR">
<%- include("../partials/head") %>

  <body class="container">
    <%- include("../partials/menu") %>
   
    <main class="ciao">
        <h1>Login Inválido !!!</h1>
        <p>
            <a class="nav-link" href="/cadastro">Cadastrar</a>
            <a class="nav-link" href="/login">Login</a>
        </p>
    </main>

    <%- include("../partials/footer") %>
  
</body>
</html>