<!DOCTYPE html>
<html lang="pt-BR">
<%- include("../partials/head") %>
  <body> 
    <%- include("../partials/menu") %>
    <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div>  
    
    <section class="container">
      
      <div class="image_container">
        <h1>about our company</h1>
        <p>
          Our company has several benefits! <br /> 
          register and be part of our company, we will be
          happy with your participation.
        </p>
      </div>
     
    </section>

    <%- include("../partials/footer") %>
  </body>
</html>
