<!DOCTYPE html>
<html lang="pt-BR">
<%- include("../partials/head") %>

  <body class="container">
    <%- include("../partials/menu") %>
    
    <main class="bonjour">
        <h1>  Cadastro cadastrado com sucesso!</h1>
    </main>

    <%- include("../partials/footer") %>
  
</body>
</html>